body{
    background:url("Resources/Background-img.jpg");
    background-size:cover;
}

.watch-face{
    width:360px;
    height:360px;
    border-width:15px;
    border-style:solid;
    border-color:white;
    border-radius:100%;
    box-shadow:0 0 20px cyan;
    margin:auto;
    position:relative;
    top:90px;
    background:transparent;
}

.hand{
    background:white;
    position:relative;
    transform-origin:100%;
    margin:auto;
}


.hour-hand{
    height:10px;
    width:140px;
    top:172px;
    right:70px;
    transform:rotate(90deg);
    box-shadow:0 0 20px cyan;
}


.minute-hand{
    height:5px;
    width:150px;
    top:162px;
    right:75px;
    transform:rotate(90deg);
    box-shadow:0 0 20px green;
}


.second-hand{
    height:2px;
    width:160px;
    top:162px;
    right:80px;
    transform:rotate(90deg);
    transition:all 0.5s;
    transition-timing-function:ease-in-out;
    box-shadow:0 0 20px rgb(22, 219, 170);
}
